.DS_Store
build
node_modules
.idea
.vs
lib/i18n/extracted
.tern-port
.tern-project
npm-debug.log
tests/e2e/reports
tests/e2e/smoke-tests-reports/
coverage
/config/local*
.terraform/
*.tfvars
eslint.xml
cypress-test-output.xml
cypress/screenshots/
.nvmrc
.vscode/
selenium-debug.log
tests/e2e/screenshots
yarn-error.log
sitespeed-result/
.vscode/

